<div>
    <h1>Sign in to KimioLink</h1>
    <form>
        <label for="txtUserEmail">Email:</label>
        <input type="email" name="txtUserEmail" id="txtUserEmail">
        <br/>
        <label for="txtUserPassword">Password:</label>
        <input type="password" name="txtUserPassword" id="txtUserPassword">
        <br/>
        <button type="submit">login!</button>
    </form>
    <a href="/">Back to Landing!</a>
</div>