<div>
    <h1>Sign in to KimioLink</h1>
    <form action="/validate_user" method="POST">
        <label for="txtUserEmail">Email:</label>
        <input type="email" name="txtUserEmail" id="txtUserEmail">
        <br/>
        <label for="txtUserPassword">Password:</label>
        <input type="password" name="txtUserPassword" id="txtUserPassword">
        <br/>
        <button type="submit" hx-post="/validate_user" hx-target="body" hx-swap="innerHTML">Login</button>
    </form>
    <a href="/">Back to Landing!</a>
</div>