<div>
    <h1>Oncological Plan</h1>
    <p>Define your plan by adding all stages you need. <br/>
    Each stage you can also define your drug, doze, frequency and even resting period.</p>
    <div class="controller_panel">
<br/>
        <button hx-get="/show_add_stage_form" hx-swap="outerHTML">Add a new stage to the plan</button>
    </div>
    <section>
        <h2>Plan:</h2>
    </section>
</div>
