<div>
    <h1>Oncological Plan</h1>
    <p>Define your plan by adding all stages you need. <br/>
    Each stage you can also define your drug, doze, frequency and even resting period.</p>
    <side>
        <a href="/home">Back to Home</a>
        <a href="/search">Search meds</a>
        <a href="/patient_profile">Your patient profile</a>
        <a href="/sponsors">Your sponsors</a>
        <a href="/Logout">Logout</a>
    </side>
    <div class="controller_panel">
<br/>
        <md-filled-button hx-get="/show_add_stage_form" hx-swap="outerHTML">Add New Plan Stage</md-filled-button>
    </div>
    <section>
        <table>
            <caption>Your Treatment Plan</caption>
            <thead>
                <th>Step</th>
                <th>Medication</th>
                <th>Dosage</th>
                <th>Guide</th>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>{{treatmentPlan.medicationName}}</td>
                    <td>{{treatmentPlan.dosage}}{{treatmentPlan.dosageUnit}}</td>
                    <td>{{treatmentPlan.guide}}</td>
                </tr>
            </tbody>
        </table>        
    </section>
</div>
