<h2>Plan de Tratamiento</h2>

<form action="/save-treatment-medication" method="post">
    <div class="capture_form_row">
        <md-outlined-text-field name="txtMedicationName" id="txtMedicationName"
            label="Nombre comercial del medicamento" placeholder="Tamoxifen"></md-outlined-text-field>
    </div>
    <div class="capture_form_row">
        <md-outlined-text-field name="txtActiveSubstance" id="txtActiveSubstance"
            label="Sustancia activa" placeholder="Oxaliplatin"></md-outlined-text-field>
    </div>
    <div class="capture_form_row">
        <md-outlined-text-field name="txtAlternative" id="txtAlternative"
            label="Alternativas comerciales" placeholder="Excemestane"></md-outlined-text-field>
    </div>
    <div class="capture_form_row">
        <md-outlined-text-field name="txDosage" id="txtDosage"
            label="Dósis" placeholder="85"></md-outlined-text-field>        
        <label for="dpdnDosageUnit">Unidad</label>
        <select name="dosageUnit" id="dpdnDosageUnit">
            <option value="mg" selected="true">mg</option>
            <option value="ml">ml</option>
        </select>
    </div>
    <div class="capture_form_row">
       <md-outlined-text-field name="txtGuide" id="txtGuide"
            label="Guia de administración" placeholder="i.v. en 500ml de D5W durante 2hrs."></md-outlined-text-field>
    </div>
    <div class="capture_form_row">
        <md-outlined-text-field name="txtRestPeriod" id="txtRestPeriod"
            label="Periodo de descanso (días)" placeholder="7"></md-outlined-text-field>
    </div>
    <div class="capture_form_row">
        <md-outlined-text-field name="txtDuration" id="txtDuration"
            label="Duración del tratamiento" placeholder="6"></md-outlined-text-field>
        <select name="DurationUnit" id="dpdnDurationUnit">
            <option value="dias">D&iacute;as</option>
            <option value="semanas" selected="true">Semanas</option>
            <option value="meses">Meses</option>
            <option value="cycles">C&iacute;clos</option>       
        </select>
    </div>
    <div class="capture_form_row">
        <md-outlined-text-field name="txtDoctorName" id="txtDoctorName"
            label="Nombre del médico tratante" placeholder="Dr. Juan Pérez"></md-outlined-text-field>
    </div> 
    <div class="capture_form_row">
        <md-outlined-text-field name="txtDoctorEmail" id="txtDoctorEmail"
            label="Email del médico tratante" placeholder="medico@kimiolink.org"></md-outlined-text-field>
    </div>
    <md-filled-button hx-get="/show_add_stage_form" hx-swap="outerHTML">Guardar Medicamento</md-filled-button>
</form>

</body>
</html>
