<div class="">
    <div class="capture_form_row">
        <label for="txtDrugName">Drug Name</label>
        <input type="text" name="txtDrugName" id="txtDrugName">
    </div>
    <div class="capture_form_row">
        <label for="txtDrugPurpose">Drug Purpose</label>
        <input type="text" name="txtDrugPurpose" id="txtDrugPurpose">
    </div>
    <div class="capture_form_row">
        <label for="txtDrugDoze">Doze</label>
        <input type="text" name="txtDrugDoze" id="txtDrugDoze">
    </div>
</div>