// Primary Colors (for highlighting key elements like buttons and links)
$soft-blue: #89CFF0; // A light blue that conveys tranquility
$pastel-green: #cdf8da; // A soft green evoking hope and healing

// Text Color (to ensure readability)
$dark-gray: #333333; // A dark tone for texts, providing good contrast without being as harsh as pure black

// Highlight Color (for calls to action and important elements)
$soft-coral: #FF6F61; // A warm, soft tone that attracts attention without being overwhelming

// Secondary Colors (for backgrounds and less prominent design elements)
$light-gray: #F5F5F5; // For backgrounds and content areas
$medium-blue: #5F9EA0; // To vary in design elements

// Background Color (for the general background of the page)
$off-white: #FAFAFA; // A soft white that is less intense than pure white and helps reduce visual fatigue
