<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/js/htmx.min.js"></script>
    <link rel="stylesheet" href="/css/tailwind.css">
    <title>{{title}}</title>
</head>
<body class="bg-gray-100 text-gray-900">
    <div class="flex flex-col h-screen">
        {{> top_bar}}
        <div class="flex flex-1">
            {{> side_bar}}
            <main class="flex-1 p-6 bg-white shadow-md rounded-lg max-w-4xl mx-auto mt-10">
                {{{body}}}
            </main>
        </div>
    </div>
</body>
</html>